In [40]:
import math
from itertools import combinations
from collections import deque

In [10]:
def comb(n,r): 
    return (math.factorial(n))/(math.factorial(n-r)*math.factorial(r))

In [28]:
comb(6,4)

15.0

3 sets 
- 


4 sets 
r = 2 
- [0,1,2], [0,1,3], [0,2,3], [1,2,3] 
number of 0s : 3 
number of 1s : 3 
number of 2s : 3 
number of 3s : 3 

r = 3 
- [0,1,2] , [2,4,5],  [1,3,5],  [0,3,4]
number of 0s : 2 
number of 1s : 2 
number of 2s : 2 
number of 3s : 2 
number of 4s : 2 
number of 5s : 2  

r = 4 
- [0], [1], [2], [3] 
number of 0s : 1 
number of 1s : 1 
etc. 


5 sets 

r = 1 - trivial 

r = 1 
number of 0s : 4 
number of 1s : 4 
etc. 

r = 3 
number of 0s : 3 
number of 1s : 3

In [3]:
for r in range(1,6):
    print(r,': ',comb(5,r-1))

1 :  1.0
2 :  5.0
3 :  10.0
4 :  10.0
5 :  5.0

In [ ]:
for r in range(1,6):
    print(r,': ',comb(5,r-1))

In [86]:
def set_list(n,r): 
    n_unique = int(comb(n,r-1))
    set_cardinality = int(comb(n-1,r-1))
    n_unique_occur = n - r + 1
    
    element_pool = deque(list(range(0,n_unique))*n_unique_occur)
    
    final_set_list = []
    bad_iter = 1 
    while len(final_set_list) < n: 
        mySet = set()
        for k in range(0,set_cardinality):
            while element_pool[0] in mySet: 
                element_pool.rotate(1)
            mySet.add(element_pool.popleft())
        if mySet not in final_set_list:
            final_set_list.append(mySet)
        else: 
            element_pool = element_pool + deque(mySet)
            print("Set repeated. Retry {0}...".format(bad_iter))
            bad_iter += 1 
        if bad_iter == 10:
            print("Shuffling whole list and restarting")
            element_pool = deque(list(range(0,n_unique))*n_unique_occur)
            rnd.shuffle(element_pool)
            final_set_list = []
            bad_iter = 1           
        
    return final_set_list

In [94]:
set_list(6,4)

Set repeated. Retry 1...
Set repeated. Retry 2...
Set repeated. Retry 3...
Set repeated. Retry 4...
Set repeated. Retry 5...
Set repeated. Retry 6...
Set repeated. Retry 7...
Set repeated. Retry 8...
Set repeated. Retry 9...
Shuffling whole list and restarting

[{0, 1, 2, 3, 10, 13, 14, 15, 17, 19},
 {1, 3, 4, 8, 10, 11, 13, 14, 17, 18},
 {2, 4, 6, 9, 10, 12, 15, 16, 17, 18},
 {2, 3, 4, 5, 6, 7, 9, 11, 12, 13},
 {0, 5, 6, 7, 8, 9, 12, 14, 16, 19},
 {0, 1, 5, 7, 8, 11, 15, 16, 18, 19}]

In [39]:
testset = set()
testset.add(4)
testset

{4}

In [65]:
myque = deque([1,2,3])

In [67]:
myque + deque(set([4,5,6]))

deque([1, 2, 3, 4, 5, 6])

In [72]:
mylist = [0,1,2]

In [73]:
import random as rnd

In [84]:
lst = [1,2,3,4,5]
rnd.shuffle(lst)
lst

[4, 2, 1, 3, 5]

NameError: name 'lst' is not defined